$fa-font-path: "../../src/lily/fonts" !default;

@import "../lily/css/lily.scss";

$delay-color: #A06700;
$new-color: $area-success;

body {
  background-color: #fff;
  .header {
    height:60px;line-height:60px;
    background-color:#f7f7f7;
    border-bottom:solid 1px #ddd;
    font-size: 16px;
    position:fixed;
    top:0;left:0;right:0;

    .back {
      display: block;
      color:#555;
      background-color: #ddd;
      float:left;
      width:32px;height:32px;line-height:32px;
      margin-top:14px;text-align: center;
      margin-right: 15px;
      border-radius:50%;
      span {display:none;}
      i {display:block;width:32px;height:32px;line-height:32px;}
      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
  }
  .main {
    margin-top: $grid-gap / 2 + 60px;
    font-size: 16px;
    float: left;
  }
}

.briefings {
  .briefing {
    height:30px;line-height:30px;
    margin-bottom:10px;
  }
}

.main .legends {
  background-color:#555;
  color:white;
  margin-bottom: $grid-gap / 2;
  padding:10px $grid-gap / 2;
  height:30px;line-height:30px;

  .t {float:left;margin-right:5px;}
  .legend {
    height:30px;line-height:30px;
    float:left;margin-right:30px;
    &:after {
      float:right;
      content: "";
      width: 24px;height: 18px;
      border-radius: 3px;
      background-color:$area-dawn;
      margin-top: 6px;
    }

    &.summary:after {background-color: $area-dawn;}
    &.continue:after {background-color: $area-info;} //#f2f7f9 #3f7faf
    &.danger:after {background-color: $area-danger;}
    &.gtd:after {background-color: #fff;}
    &.waiting:after {background-color: $area-dream;}
  }
}

.main table {
  font-size: 14px;
  // margin:0 $grid-gap / 2;
  th {
    background-color:#f7f7f7;
    min-width: 200px;
    img.avatar {
      height:24px;width:24px;
      float:left;
      border-radius:50%;
      margin-right:5px;
    }
    span {
      float: left;
      height: 24px; line-height: 24px;
    }
  }
  th.member {
    width: 300px;
  }

  td {
    hr {
      height:5px;
      border-radius:5px;
      border:0 none;
      background-color: rgba(black, 0.05);
      margin:10px 0;
    }
    span.danger {
      display: block;
      padding:5px;
      border-radius:3px;
      color: $area-danger;
      background-color: lighten($area-danger, 45%);
      &:before {
        background-color: $area-danger;
        color:white;
        border-radius:3px;
        padding:0 5px; 
        content: "风险";
        margin-right:5px;
      }
    }
    span.plan {
      &:before {
        content:"计划进行";
        background-color: $new-color;
        color:white;
        border-radius:3px;
        padding:0 5px;
        margin-right: 5px;
      }
    }
    span.continue {
      background-color: #f2f7f9;
      color: #3f7faf;
      display: block;
      padding:5px;
      border-radius:3px;
    }
  }

  td .commits {
    .commit {
      font-weight: bold;
      // background-color: mix(black, darken(#FFFBE3, 10%), 0%);
      background-color: rgba(black, 0.05);
      // border-radius: 3px;
      padding:8px;
      margin-top:8px;
      box-shadow:1px 1px 2px rgba(black, 0.2);
      word-break: break-all;

      a{color: $area-primary;}
      .t {
        color: rgba(black, 0.7);
      }
      .t:before {
        content: "\f0c6";
        font-family: FontAwesome;
        margin-right: 5px;
      }
    }
  }

  td.summary {
    background-color: $area-dawn;
  }
  td.thread {
    font-weight: bold;
  }
  td.bold {
    font-weight: bold;
  }

  td.new {
    &:before {
      content:"新增";
      background-color: $new-color;
      color:white;
      border-radius:3px;
      padding:0 5px;
      margin-right: 5px;
    }
  }
  td.delay {
    &:before {
      content:"滞后";
      background-color: $delay-color;
      color: white;
      border-radius:3px;
      padding:0 5px; 
      margin-right: 5px;
    }
  }
  td.plan {
    &:before {
      content:"计划进行";
      background-color: $new-color;
      color:white;
      border-radius:3px;
      padding:0 5px; 
      margin-right: 5px;
    }
  }
  td.danger {
    color: $area-danger;
    background-color: lighten($area-danger, 45%);
    &:before {
      content: "风险";
      background-color: $area-danger;
      color:white;
      border-radius:3px;
      padding:0 5px; 
      margin-right:5px;
    }
  }
  td.continue {
    background-color: #f2f7f9;
    color: #3f7faf
  }
  td.waiting {
    color: $area-dream;
    background-color: lighten($area-dream, 55%);
    &:before {
      // font-family: FontAwesome;
      // content:"\f017";
      background-color: $area-dream;
      content: "等待跟进";
      color: white;
      border-radius:3px;
      padding:0 5px; 
      margin-right:5px;
    }
  }
}

.new-thread, .delayed-thread {
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 14px;
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .thread {
    margin-bottom: 5px;
    span.name {font-weight: bold;}
  }
}
.new-thread {
  padding-bottom: 10px;
  border-bottom: dotted 1px #ddd;
  .title:after {
    content:"新增";
    background-color: $new-color;
    color: white;
    border-radius:3px;
    padding:0 5px; 
    text-shadow: 0 0 1px rgba(black, 0.5);
  }
}

.delayed-thread {
  .title:after {
    content:"滞后";
    background-color: $delay-color;
    color: white;
    border-radius:3px;
    padding:0 5px; 
  }
}