$fa-font-path: "../../src/lily/fonts" !default;
$source-code-font-path: "../../src/lily/fonts/source-code" !default;

@import "../lily/css/lily.scss";

$delay-color: #A06700;
$new-color: $area-success;

body {
  background-color: #fff;
  .header {
    height:60px;line-height:60px;
    background-color:#f7f7f7;
    border-bottom:solid 1px #ddd;
    font-size: 16px;
    position:fixed;
    top:0;left:0;right:0;

    .back {
      display: block;
      color:#555;
      background-color: #ddd;
      float:left;
      width:32px;height:32px;line-height:32px;
      margin-top:14px;text-align: center;
      margin-right: 15px;
      border-radius:50%;
      span {display:none;}
      i {display:block;width:32px;height:32px;line-height:32px;}
      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
  }
  .main {
    margin-top: $grid-gap / 2 + 60px;
    font-size: 16px;
    float: left;
  }
}

.briefings {
  .briefing {
    height:30px;line-height:30px;
    margin-bottom:10px;
    .date span {
      font-family: "source-code", "微软雅黑";
    }
    .date i {
      display: inline-block;
      width: 20px;
      text-align: center;
    }
    a {
      margin-left: 5px;
    }
  }
}

.main .legends {
  background-color:#555;
  color:white;
  margin-bottom: $grid-gap / 2;
  padding:10px $grid-gap / 2;
  height:30px;line-height:30px;

  .t {float:left;margin-right:5px;}
  .legend {
    height:30px;line-height:30px;
    float:left;margin-right:30px;
    &:after {
      float:right;
      content: "";
      width: 24px;height: 18px;
      border-radius: 3px;
      background-color:$area-dawn;
      margin-top: 6px;
    }

    &.summary:after {background-color: $area-dawn;}
    &.continue:after {background-color: $area-info;} //#f2f7f9 #3f7faf
    &.danger:after {background-color: $area-danger;}
    &.gtd:after {background-color: #fff;}
    &.waiting:after {background-color: $area-dream;}
  }
}

.main table {
  font-size: 14px;
  // margin:0 $grid-gap / 2;
  th {
    background-color:#f7f7f7;
    min-width: 200px;
    img.avatar {
      height:24px;width:24px;
      float:left;
      border-radius:50%;
      margin-right:5px;
    }
    span {
      float: left;
      height: 24px; line-height: 24px;
    }
  }
  th.member {
    width: 300px;
  }

  tr.delayed {
    background-color: #FEF6F5;
    td {
      background-color: #FEF6F5 !important;
    }
  }

  // td:not(.thread):not(.summary):hover {
  //   &:before {
  //     content:"";
  //     position: absolute;
  //     top:0;left:0;right:0;bottom:0;
  //     border:solid 2px #ccc;
  //     pointer-events: none;
  //   }
  // }

  // td.opacity {
  //   // opacity: 0.3;
  //   &:after {
  //     content:"";
  //     position: absolute;
  //     top:0;left:0;right:0;bottom:0;
  //     background-color: rgba(black, 0.5);
  //     pointer-events: none;
  //   }
  // }

  td {
    cursor: default;
    position: relative;
    hr {
      height:5px;
      border-radius:5px;
      border:0 none;
      background-color: rgba(black, 0.05);
      margin:10px 0;
    }
    span.danger {
      display: block;
      padding:5px;
      border-radius:3px;
      color: $area-danger;
      background-color: lighten($area-danger, 45%);
      &:before {
        background-color: $area-danger;
        color:white;
        border-radius:3px;
        padding:0 5px; 
        content: "风险";
        margin-right:5px;
      }
    }
    span.plan {
      &:before {
        content:"计划进行";
        background-color: $new-color;
        color:white;
        border-radius:3px;
        padding:0 5px;
        margin-right: 5px;
      }
    }
    span.continue {
      background-color: #f2f7f9;
      color: #3f7faf;
      display: block;
      padding:5px;
      border-radius:3px;
    }
    span.new {
      &:before {
        content:"新增";
        background-color: $new-color;
        color:white;
        border-radius:3px;
        padding:0 5px;
        margin-right: 5px;
      }
    }
    span.waiting {
      display: block;
      padding: 5px;
      color: $area-dream;
      background-color: lighten($area-dream, 55%);
      &:before {
        content: "等待跟进";
        background-color: $area-dream;
        color: white;
        border-radius:3px;
        padding:0 5px; 
        margin-right:5px;
      }
    }
  }

  td .commits .commit, td .a-commit{
    font-weight: bold;
    // background-color: mix(black, darken(#FFFBE3, 10%), 0%);
    background-color: rgba(black, 0.05);
    // border-radius: 3px;
    padding:8px;
    margin-top:8px;
    box-shadow:1px 1px 2px rgba(black, 0.2);
    word-break: break-all;

    a{color: $area-primary;}
    .t {
      color: rgba(black, 0.7);
    }
    .t:before {
      content: "\f0c6";
      font-family: FontAwesome;
      margin-right: 5px;
    }
  }

  td.summary {
    background-color: $area-dawn;
  }
  td.thread {
    font-weight: bold;
  }
  td.bold {
    font-weight: bold;
  }

  td.new {
    &:before {
      content:"新增";
      background-color: $new-color;
      color:white;
      border-radius:3px;
      padding:0 5px;
      margin-right: 5px;
    }
  }
  td.delay {
    &:before {
      content:"滞后";
      background-color: $delay-color;
      color: white;
      border-radius:3px;
      padding:0 5px; 
      margin-right: 5px;
    }
  }
  td.plan {
    &:before {
      content:"计划进行";
      background-color: $new-color;
      color:white;
      border-radius:3px;
      padding:0 5px; 
      margin-right: 5px;
    }
  }
  td.danger {
    color: $area-danger;
    background-color: lighten($area-danger, 45%);
    &:before {
      content: "风险";
      background-color: $area-danger;
      color:white;
      border-radius:3px;
      padding:0 5px; 
      margin-right:5px;
    }
  }
  td.continue {
    background-color: #f2f7f9;
    color: #3f7faf
  }
  td.waiting {
    color: $area-dream;
    background-color: lighten($area-dream, 55%);
    &:before {
      // font-family: FontAwesome;
      // content:"\f017";
      background-color: $area-dream;
      content: "等待跟进";
      color: white;
      border-radius:3px;
      padding:0 5px; 
      margin-right:5px;
    }
  }
  td.none {
    background-color: #F7F7F7;
  }

  // 2015.4.7 新增的样式
  td .work {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px;
    border-top: dashed 1px #aaa;
    &:first-child {
      margin-top: -8px;
      border-top:0 none;
    }
    &:last-child {
      margin-bottom: -8px;
    }
    .suggestion {
      margin-top: 8px;
    }
    .desc {
      margin-bottom: 8px;
    }

    &.waiting {
      color: $area-dream;
      background-color: lighten($area-dream, 55%);
      &:before {
        background-color: $area-dream;
        content: "等待跟进";
        color: white;
        border-radius:3px;
        padding:0 5px; 
        margin-right:5px;
        float: left;
      }
    }
    &.continue {
      color: #3f7faf;
      background-color: #f2f7f9;
      &:before {
        background-color: #3f7faf;
        content: "进行中";
        color: white;
        border-radius:3px;
        padding:0 5px; 
        margin-right:5px;
        float: left;
      }
    }
    &.danger {
      color: $area-danger;
      background-color: lighten($area-danger, 45%);
      &:before {
        content: "风险";
        background-color: $area-danger;
        color:white;
        border-radius:3px;
        padding:0 5px; 
        margin-right:5px;
        float: left;
      }
    }
    &.done {
      &:before {
        content: "\f058";
        font-family: FontAwesome;
        border-radius:3px;
        margin-right:5px;
        float: left;
      }
    }

    .bundle {
      border:solid 1px #ddd;
      background-color: lighten(#E8FFB5, 10%);
      .bundle-title {
        background-color: darken(#4CC85E, 10%);
        color:white;
        padding: 5px 10px;
        margin: 3px;
      }
      .bundle-task, .bundle-project, .bundle-demo {
        word-break: break-all;
        margin: 3px;
        border-bottom: dashed 1px rgba(black, 0.3);
        &:last-child {border-bottom: 0 none;}
        span {
          margin-right: 5px;
          color: rgba(black, 0.8);
        }
        a {color: #005500;font-weight: bold;}
      }
    }
  }
}

.new-thread, .delayed-thread, .memo{
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 14px;
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .thread {
    margin-bottom: 5px;
    span.name {font-weight: bold;}
  }
}
.new-thread {
  padding-bottom: 10px;
  border-bottom: dotted 1px #ddd;
  .title:after {
    content:"新增";
    background-color: $new-color;
    color: white;
    border-radius:3px;
    padding:0 5px; 
    text-shadow: 0 0 1px rgba(black, 0.5);
  }
}

.delayed-thread {
  padding-bottom: 10px;
  border-bottom: dotted 1px #ddd;
  .title:after {
    content:"滞后";
    background-color: $delay-color;
    color: white;
    border-radius:3px;
    padding:0 5px; 
  }
}

table.trainee {
  width:auto;
}

.reading-tips {
  position: fixed;
  top: 10px; right: 10px;
  background-color: #fff;
  border:solid 1px #ddd;
  opacity: 0.8;
  z-index: 100;
  .t {
    text-align: center;
    height: 30px; line-height: 30px;
  }
  img {
    height: 200px;
  }
  @include -below(phone) {
    display: none;
  }
}

// ----------- 20150518 新版 移动版

@mixin height($h) {
  height: $h; line-height: $h;
}

@mixin shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

$mobile-header-height: 65px;

body.mobile {
  background-color: #eee;
  color: #666;
  a{
    // color: $area-info;
  }

  .mobile-header {
    @include height($mobile-header-height);
    @include shadow;
    background-color: #fafafa;
    position: absolute;
    top:0;left:0;right:0;
    z-index:1;
    .t {
      text-align: center;
      font-size: 16px;
      @include height(40px);
    }
    .help {
      @include height(24px);
      font-size: 12px;
      text-align: center;
      border-top:dashed 1px #ddd;
      background-color: $area-dawn;
      display: none;
    }
  }

  &.index .mobile-header .help.index {display:block;}
  &.detail .mobile-header .help.detail {display:block;}
  &.member-detail .mobile-header .help.member-detail {display:block;}

  .tiles {
    position: absolute;
    top: $mobile-header-height; bottom:0;
    left:0; width: 100%;
    overflow-y: auto;
    display: none;

    &.current{
      display: block;
    }

    .tile {
      background-color: #fafafa;
      margin: 10px;
      @include shadow;
      position: relative;
      padding-left: 15px;
      padding-right: 5px;

      &:before {
        content: "";
        position: absolute;
        top:0;left:0;bottom:0;width:10px;
        background-color: #666;
      }

      .t {
        font-size: 20px;
        @include height(50px);
        padding-left: 10px;
      }
      .desc {
        border-top: solid 1px #e9e9e9;
        padding: 10px;
        line-height: 22px;

        label {
          padding: 0 5px;
          margin: 0;
          font-weight: normal;
          border-radius:3px;
          font-size: 12px;
          @include height(16px);
          position: relative;
          top: 2px;
          float: left;
          margin-right: 5px;
        }

        label {
          background-color: #f1f1f1;
          color: #999;
        }
        label.head {
          background-color: $area-success;
          color: white;
        }

        .submit {
          padding: 10px;
          margin-top: 5px;
          margin-bottom: 10px;
          background-color: #f1f1f1;
          word-break: break-all;
          &:last-child {margin-bottom: 0;}

          .smemo {
            color: #999;
            margin-top: 5px;
          }
        }

        .submit.bundle {
          background-color: #F8FFE8;
          a{color:#005500;}
          .task:before {content:"任务：";color:rgba(black, 0.4);}
          .repo:before {content:"工程：";color:rgba(black, 0.4);}
          .demo:before {content:"演示：";color:rgba(black, 0.4);}
        }

        .t2 {
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }

    .tile.summary {
      cursor: pointer;
      &:before {background-color: $area-hot;}

      a.back, a.detail{
        font-size: 12px;
        @include height(30px);
        border-radius: 3px;
        background-color: #f1f1f1;
        padding:0 10px;
        color: #666;
        text-decoration: none;
        position: absolute;
        top: 10px; right: 5px;
        display: none;
        &:active {
          background-color: #ddd;
        }
        i {margin-right:3px;}
      }
    }

    .tile.member {
      &:before {background-color: $area-info;}
      .m {
        @include clearfix;
        @include height(50px);
        position: relative;
        img.avatar {
          float: left;
          border-radius: 100px;
          width: 30px;
          height: 30px;
          margin-top: 10px;
          margin-left: 10px;
        }
        .name {
          margin-left: 50px;
          font-size: 20px;
        }

        a.show-member-detail {
          font-size: 12px;
          @include height(30px);
          border-radius: 3px;
          background-color: #f1f1f1;
          padding:0 10px;
          color: #666;
          text-decoration: none;
          position: absolute;
          top: 10px; right: 0px;
          &:active {
            background-color: #ddd;
          }
          i {margin-right:3px;}
        }
      }
    }
  }
}

body.mobile.index, body.mobile.member-detail {
  .mobile-main {
    position: absolute;
    top:$mobile-header-height;left:0;right:0;bottom:0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tiles {
    position: static;
    display: block;
    overflow: visible;
    .tile.summary {
      margin-bottom: 0;
      .desc {display:none;}
    }
    .tile.member {display:none;}
  }
}

body.mobile.member-detail {
  .tile.summary {
    &:before {background-color: $area-info;}
    a.detail {display:block;}
  }

  .tile.member {
    .m {display:none;}
    // .m + .desc{border-top:0 none;}
    margin-top: 0;
  }

  .tiles.member-summary {
    .tile.member {
      .m {display:block;}
      margin-top: 10px;
    }
  }
}

body.mobile.detail {
  .tile.summary a.back {display:block;}
}